.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(172, 133, 133);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

.image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}